* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f7f3eb;
}

.main-content {
    flex: 1;
}

.site-header {
    background-color: #d1bfab;
    color: #000000;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    width: 350px;
    height: auto;
}

.site-nav {
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin-left: 25px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-icon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s;
}

.nav-icon:hover {
    transform: scale(1.2);
}

.site-footer {
    background-color: #d1bfab;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

.footer-text {
    margin: 0;
    color: black;
}

.red-text {
    color: rgb(0, 0, 0);
}
