* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}


.site-header {
    background-color: #a08669;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 1.5em;
}

.site-nav .nav-list {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.nav-link:hover {
    text-decoration: underline;
}


.site-footer {
    background-color: #a08669;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


.footer-text {
    margin: 0;
}